@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-texto-logo: #3A404E;
    --cor-fundo: #FFFFFF;
    --cor-branca: #FFFFFF;
    --font-principal: "Inter", sans-serif;

    --text-color: #667085;
    --main-color: #8E2424;
    --text-color-titulo: #101828;

    --border-color: #EAECF0;
    --background-secundario: #C3191908;



}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    box-sizing: border-box;
    min-width: 898px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 80px;
}

.cabecalho__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__logo-texto {
    margin-left: 8px;
    color: var(--cor-texto-logo);
    font-family: var(--font-principal);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho__menu {
    display: flex;
    width: 400px;
    list-style-type: none;
    gap: 32px;
}

.cabecalho__menu__item {
    display: flex;
    gap: 32px;
    margin: 5px;
    font-size: 1rem;
      
}

.cabecalho__menu__item-link {
    text-decoration: none;
    color: var(--cor-texto-logo);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 500;
}

/* .margim_menu_item {
    margin-left: 32px;
} */

.cabecalho__login-entrar, .cabecalho__login-cadastrar {
    text-decoration: none;
    font-family: var(--font-principal);
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 18px;
}

.cabecalho__login-cadastrar {
    color: var(--cor-branca);
    background-color: var(--main-color);
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 407px; */
    padding: 96px 0px;
    gap: 24px;
}

.header__sobrenos {
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.header__titulo {
    font-family: var(--font-principal);
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color-titulo);
}

.header__subtitulo {
    font-family: var(--font-principal);
    font-size: 1,25rem;
    font-weight: 400;
    color: var(--text-color);
    width: 791px;
    text-align: center;
}

.metricas-container {
    display: flex;
    gap: 32px;
    justify-content: space-around;
    padding: 0 80px 96px 80px;
}

.metricas-container__metrica {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.metricas-container__metrica__titulo {
    color: var(--main-color);
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 3.75rem;
}

.metricas-container__metrica__subtitulo {
    color: var(--text-color-titulo);
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.125rem;

}

.metricas-container__metrica__paragrafo {
    color: var(--text-color);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1rem;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.vagas__tag {
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--main-color);
    background-color: #8E24240D;
    padding: 4px 12px;
    border-radius: 16px;
}

.vagas__subtitulo {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--text-color-titulo);
}

.vagas__texto {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--text-color);
}

.vagas__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
}

.vagas__imagem {
    width: 100%;
}

.vagas-abertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
}

.vagas-abertas__vagas {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.vagas-abertas__vagas__titulo {
    font-family: var(--font-principal);
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-titulo);
    margin-bottom: 8px;
}

.vagas-abertas__vagas__vaga {
    border: var(--border-color) solid 1px;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.vagas-abertas__vagas__vaga__titulo-vaga {
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-titulo);
}

.vagas-abertas__vagas__vaga__informacoes {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secundario);
    margin: 0px 80px 96px 80px;
    gap: 32px;
    padding: 64px;
}

.depoimentos__container__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.depoimentos__container__secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.depoimentos__subtitulo {
    color: var(--main-color);
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.depoimentos__titulo {
    color: var(--text-color-titulo);
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 2.25rem;
    text-align: center; 
}

.depoimentos__imagem {
    width: 56px;
    height: 56px;
}

.depoimentos__autor {
    color: var(--text-color-titulo);
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1rem;
    text-align: center; 
}

.depoimentos__profissao {
    color: var(--text-color);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 0.87rem;
    text-align: center; 
    margin-top: 4px;
}